<%= form_for @game, :html => {:multipart => true} do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <u><b>Titre :</b></u><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <u><b>Description :</b></u><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <u><b>Image :</b></u><br>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <u><b>Note :</b></u><br>
    <%= f.number_field :mark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
